body {
  margin: 0;
  background: #3e3e3e;
  color: white;
  font-family: arial;
  text-align: center;
}

#game-title {
  margin-top: 40px;
  font-size: 48px;
}

#menu-buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
}

#name-section {
  margin-top: 20px;
}

#settings-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.screen {
  display: none;
}

.screen.hidden {
  display: none;
}

.screen:not(.hidden) {
  display: block;
  margin-top: 20px;
}

#party-lobby {
  margin-top: 20px;
}
button {
  background-color: #bdbdbd;   /* dark background */
  color: rgb(0, 0, 0);             /* white text */
  font-size: 14px;          /* bigger text */
  padding: 2px;       /* spacing inside */             /* remove default border */
  border-radius: 3px;       /* rounded corners */
  cursor: pointer;          /* pointer on hover */
  margin: 5px;             /* spacing between buttons */
}

button:hover {
  background-color: #c4c4c4;   /* lighter on hover */
}

